.green {
    background-color:green;
}
.blue{
    background-color:blue;
}
.gold{
    background-color:gold;
}
.goldtext{
    color:gold;
}
.smallimage{
    height:100px;
    width:100px;
}
.block{
    height:100px;
    width: 200px;
}
