.green {
    background-color:green;
}
.blue{
    background-color:blue;
}
.gold{
    background-color:gold;
}
.goldtext{
    color:gold;
}
.smallimage{
    height:300px;
    width:400px;
}
.block{
    height:400px;
    width: 500px;
}
