body{
    background-color: whitesmoke;
    color:black;
    font-family:"helvetica";
}

.back_ground{
    background-image:url("https://www.fractalcamo.com/uploads/5/9/0/2/5902948/s189772745713394276_p3856_i147_w750.jpeg");
    background-repeat:repeat;
    height:100px;
}
h1{
    border-style:none;
    border-bottom-style:double;
    border-width:20px;
    border-color:green
}