body{
    background-color: whitesmoke;
    color:black;
    font-family:"helvetica";
}

img{
height: 200px;
width: 310px;
}

h1{
    border-style:none;
    border-bottom-style:double;
    border-width:20px;
    border-color:green
}

h7{
    font-size:10px;
    font-weight:bold;
}

.pageMargin{
    border-style:double;
    border-width:20px;
    border-color:green;
    margin:20px;
    border-radius:10px;
}

.camo{
    background:url("https://cdn.shopify.com/s/files/1/1564/3771/products/KYLIE_CAMOTEE_TIGER_-2_1024x1024.jpg?v=1493765152");
    background-repeat:repeat;
    height:100px;
}

.squircle{
    border-radius:70px;
    padding: 20px;
}

